body {
    background-color: #f0f8ff; /* Azul claro de fondo */
    font-family: "Arial", sans-serif; /* Fuente estándar */
}

header img {
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto; /* Centra la imagen */
}

.texto p {
    margin-bottom: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.6; /* Espaciado de línea */
    color: #333; /* Color del texto */
}

.card-header h1 {
    color: #007bff; /* Azul fuerte para el título */
    font-family: 'Playwrite NZ', sans-serif; /* Fuente personalizada */
}

.card {
    border: none; /* Sin bordes */
}

.card-img-top {
    border-radius: 0.5rem 0.5rem 0 0; /* Bordes redondeados para la parte superior */
}

.card-title {
    font-size: 1.5rem;
    color: #007bff; /* Azul fuerte */
}

.card-text {
    color: #555; /* Texto de color gris */
}

.btn-primary {
    background-color: #007bff; /* Azul */
    border-color: #007bff;
    color: #fff; /* Texto blanco */
}

.btn-primary:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el ratón */
    border-color: #004085;
}

footer {
    text-align: center;
    padding: 2rem 0;
    background-color: #333;
    color: #fff;
}

footer .social a {
    margin: 0 0.5rem;
    color: #fff;
    text-decoration: none;
}

footer .social a:hover {
    text-decoration: underline;
}
